{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% block content %}
<div class="container">
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-header">Moringa School</div>
        <div class="card-body">
          <h5 class="card-title"><strong>Data science</strong></h5>
          <p class="card-text">
            Your favorite pastime as a child can now earn you college credit—and at an Ivy League school, no less. At
            Cornell University, students can take a one-credit class in Tree Climbing which will "teach you how to get
            up into the canopy of any tree, to move around, even to climb from one tree to another without touching the
            ground."
          </p>
          <a href="{{url_for('main.apply')}}" class="btn btn-primary">Apply</a>
        </div>
        <br>
        <div class="card-footer text-muted">Next Intake: September,2021</div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-header">Kenyatta University</div> 
        <div class="card-body">
          <h5 class="card-title"><strong>Artificial Intelligence</strong></h5>
          <p class="card-text">
            You probably think you know how to watch TV pretty well by this point: put on comfy pants, plant yourself on
            the couch, and zone out. However, undergrads at Montclair State University can fine-tune this art with the
            school's How to Watch Television class, the aim of which is "for students to critically evaluate the role of
            television in their lives as well as in the life of the culture."
          </p>
          <a href="{{url_for('main.apply')}}" class="btn btn-primary">Apply</a>
        </div>
        <br>
        <div class="card-footer text-muted">Next Intake: August,2021</div>
      </div>
    </div>
  </div>
  <br>
  <div class="row" style="margin-top: 80px;">
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-header">Karatina University</div>
        <div class="card-body">
          <h5 class="card-title"><strong>IT project management</strong></h5>
          <p class="card-text">
            Want some incentive to get moving? Sign up for The Art of Walking at Centre College in Danville, Kentucky.
            While the course touches on the work of everyone from Heidegger to Kant, it's also, more specifically, just
            a really long walk, with participants walking up to 25 miles at a stretch.
          </p>
          <a href="{{url_for('main.apply')}}" class="btn btn-primary">Apply</a>
        </div>
        <br>
        <div class="card-footer text-muted">Next Intake: August,2021</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-header">Moringa school</div>
        <div class="card-body">
          <h5 class="card-title"><strong>Software Development</strong></h5>
          <p class="card-text">
            Do you believe the truth is out there? Are you certain you spotted a Bigfoot print? If that sounds like you,
            you might just love the Cryptozoology class at Oberlin Experimental College in Ohio. This one-credit class,
            devoted to the study of cryptids, from the chupacabra to the Loch Ness Monster, is undeniably weird, but
            sounds a whole lot more fun than your average college seminar. And for more information on other species,
            discover these 40 Amazing Animal Facts.
          </p>
          <a href="{{url_for('main.apply')}}" class="btn btn-primary">Apply</a>
        </div>
        <br>
        <div class="card-footer text-muted">Next Intake: August,2021</div>
      </div>
    </div>
    <hr>
  </div>
  <div class="row" style="margin-top: 80px;">
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-header">Kenyatta University</div>
        <div class="card-body">
          <h5 class="card-title"><strong>Computer science</strong></h5>
          <p class="card-text">
            Combines a little glycerin, some air, and a plastic wand, and what do you get? A class at Caltech,
            apparently. Exploring bubbles in their many forms, from those that pose danger to engines to those that aid
            in medical procedures, this course is nothing short of an ebulliophobic's nightmare.
          </p>
          <a href="{{url_for('main.apply')}}" class="btn btn-primary">Apply</a>
        </div>
        br
        <div class="card-footer text-muted">2 days ago</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-header">Moringa School</div>
        <div class="card-body">
          <h5 class="card-title"><strong>IT Project management</strong></h5>
          <p class="card-text">
            If you've ever wanted to know if you would make it out alive in a zombie apocalypse, Michigan State
            University has the one course that can give you a definitive answer. Better yet, since the class is offered
            entirely online, you can study in the privacy of your own room, even further reducing your chances of
            becoming an undead being's next meal.
          </p>
          <a href="{{url_for('main.apply')}}" class="btn btn-primary">Apply</a>
        </div>
        <br>
        <div class="card-footer text-muted">Next Intake: December,2021</div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}